.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  position:fixed;
  top: 50%;
  left: 50%;
}


html {
  background-color: #333;

}
button {
  background-color: #f2f2f2; /* Button background color */
  border: none; /* Remove border */
  color: #333; /* Text color */
  font-size: 40px; /* Font size */
  width: 50px; /* Width */
  padding: 8px 12px; /* Padding */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Add transition effect */
  margin: 2px;
}

button:hover {
  background-color: #333; /* Change background color on hover */
  color: #f2f2f2; /* Change text color on hover */
}

/* Plus button */
.plus-btn::before {
  content: "+"; /* Add plus sign */
}

/* Minus button */
.minus-btn::before {
  content: "-"; /* Add minus sign */
}

h2{
  color: #f2f2f2;
}